body {
    margin: 0;
    font-family: sans-serif;
}

code {
    font-family: monospace;
}
nav {
    padding: 0 1rem;
}
.content {
    min-height: calc(100vh - 64px - 26px);
    padding: 1.5rem 0;
}
.goods{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
}
.card-content {
    flex-grow: 1;
}
.card-action {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}
.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 5;
}
.basket-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50rem;
    max-width: 95%;
    box-shadow: 0 6px 15px rgba(0,0,0,0.5);
    animation: show 0.5s ease-in-out;
}
@media (min-width: 767px) {
    .cart{
        top: 5rem;
        bottom: unset;
    }
}
@keyframes show {
    from {top: 70%; opacity: 0}
    to {top: 50%; opacity:1}
}